<nav class="navbar navbar-expand-md navbar-light bg-warning">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/" class="nav-link"><span>📖 BlogApp</span></a>
    </li>
  </ul>

  <ul class="navbar-nav my-2 my-lg-0">
    <ng-container *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="newDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-cog"> Settings </i></a>
        <div class="dropdown-menu" aria-labelledby="newDropdown">
          <a class="dropdown-item" href="/mfa"><i class="fas fa-user-shield"> Manage MFA </i></a>

          <ng-container *ngIf="isAdmin">
            <a class="dropdown-item" href="/users"><i class="fas fa-users"> Manage Users </i></a>
          </ng-container>

        </div>
      </li>

      <li class="nav-item">
        <a routerLink="/logout" class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"> Logout </i></a>
      </li>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link"><i class="fas fa-sign-in-alt"> Login </i></a>
      </li>
      <li class="nav-item">
        <a routerLink="/forgot-password" class="nav-link"><i class="fas fa-key"> Forgot Password </i></a>
      </li>
    </ng-container>
  </ul>
</nav>
