

<div class="bg-light d-flex align-items-center justify-content-center min-vh-100">
  <div class="bg-white p-4 rounded shadow form-container">
      <h2 class="text-center font-weight-bold mb-4">Change Password</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="password">
                  Password <span class="text-danger">*</span>
              </label>
              <input formControlName="password" type="password" id="password" class="form-control" placeholder="Enter your password" required>
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
              Password is required.
          </div>
          </div>
          <div class="form-group">
              <label for="password_confirm">
                  Password Confirm <span class="text-danger">*</span>
              </label>
              <input formControlName="password_confirm" type="password" id="password_confirm" class="form-control" placeholder="Enter your password confirm" required>
              <div *ngIf="form.get('password_confirm')?.invalid && form.get('password_confirm')?.touched" class="text-danger">
                  Password Confirm is required.
              </div>
          </div>
          <button type="submit" class="btn btn-warning btn-block font-weight-bold">
            Submit
          </button>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
      </div>
  </div>
</div>

