



<div class="bg-light d-flex align-items-center justify-content-center min-vh-100">
  <div class="bg-white p-4 rounded shadow form-container">
      <h2 class="text-center font-weight-bold mb-4">Change Information</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="name">
                    Name
              </label>
              <input formControlName="name" type="text" id="name" class="form-control" placeholder="Enter your name" >

          </div>
          <div class="form-group">
              <label for="age">
                  Age
              </label>
              <input formControlName="age" type="number" id="age" class="form-control" placeholder="Enter your age" >

          </div>
          <div class="form-group">
              <label for="email">
                  Email
              </label>
              <input formControlName="email" type="email" id="email" class="form-control" placeholder="Enter your email" >

          </div>
          <button type="submit" class="btn btn-warning btn-block font-weight-bold">
              Submit
          </button>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
      </div>
  </div>
</div>

